
/* Homepage CSS styling */

.nav_button {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #5c5c5c;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}


.header {
    font-family: "Cambria", "Times New Roman", sans-serif;
    text-align: center;
    font-size: larger;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}


.container_1 {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    margin-left: 10%;
    margin-right: 10%
}

.image_container_1 {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}


.image_container_1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.home_intro {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #5c5c5c;
    text-align: center;
    font-size: 20px;
}



.home_arch_title {
    font-family: "Cambria", "Times New Roman", sans-serif;
    text-align: center;
    font-size: large;
}

.home_archive {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #5c5c5c;
    text-align: center;
    font-size: 20px;
}


.container_2 {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    margin-left: 10%;
    margin-right: 10%
}



.home_archive {
    font-family: "Cambria", "Times New Roman", sans-serif;
    color: #5c5c5c;
    text-align: center;
    font-size: 20px;

}





/* Archive Gallery CSS styling */






/* About CSS styling */





/* The Secondhand Scoop CSS styling */

